<app-main-menu></app-main-menu>
<div class="container">
  <h1 translate="settings.labels.settings"></h1>

  <div class="row">
    <div class="col-sm-6">
      <form *ngIf="store.couchDbSyncEnabled$ | async | not; else couchDbSyncActiveTpl"
            [formGroup]="couchDbSyncFormGroup"
            (submit)="onCouchDbSyncFormSubmit()">
        <app-card>
          <h4 data-card-title="" translate="settings.labels.remoteSync"></h4>
          <button type="submit" class="btn btn-primary" data-card-btn=""
                  [disabled]="couchDbSyncFormGroup.invalid">
            <i class="bi bi-save"></i>&nbsp;<span translate="edit.buttons.common.save"></span>
          </button>

          <div class="mb-3">
            <label for="couchDbSyncUriInput" class="form-label" translate="edit.form.settings.remoteSync.uri.label"></label>
            <input class="form-control" id="couchDbSyncUriInput" aria-describedby="couchDbSyncUriInputHelp"
                   formControlName="couchDbSyncUri">
            <div id="couchDbSyncUriInputHelp" class="form-text" translate="edit.form.settings.remoteSync.uri.description"></div>
          </div>
        </app-card>
      </form>

      <ng-template #couchDbSyncActiveTpl>
        <app-card>
          <h4 data-card-title="" translate="settings.labels.remoteSync"></h4>
          <app-two-factor-button btnClass="btn-outline-danger" (confirmed)="onRemoveCouchDbSync()" data-card-btn="">
            <i class="bi bi-database-fill-x"></i>&nbsp;<span
            translate="edit.form.settings.remoteSync.buttons.disconnect"></span>
          </app-two-factor-button>

          <p translate="edit.form.settings.remoteSync.enabled.description" class="mb-3"></p>

          <app-read-only-field label="edit.form.settings.remoteSync.uri.label">
            {{store.couchDbSyncUri$ | async | maskUriCredentials}}
          </app-read-only-field>

        </app-card>
      </ng-template>
    </div>
  </div>
</div>
