<div class="container">
  <form [formGroup]="formGroup" (submit)="onFormSubmit()" *ngIf="editorActive$ | async; else viewTpl">
    <app-card>
      <h2 class="card-title" data-card-title=""><span class="text-muted">Character: </span>{{store.name$ | async}}</h2>
      <button type="button" (click)="editorActive$.disable()" [disabled]="store.characterIsNew$ | async"
              class="btn btn-secondary" data-card-btn>
        <i class="bi bi-x-lg"></i> Cancel
      </button>
      <app-two-factor-button btnColor="btn-danger" (confirmed)="onDelete()" confirmText="Yes, delete this character!"
                             data-card-btn="">
        <i class="bi bi-trash"></i> Delete
      </app-two-factor-button>
      <button type="submit" class="btn btn-primary" data-card-btn [disabled]="formGroup.invalid">
        <i class="bi bi-save"></i> Save
      </button>

      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="characterNameInput" class="form-label">Name</label>
            <input class="form-control" id="characterNameInput" aria-describedby="characterNameInputHelp"
                   formControlName="name">
            <div id="characterNameInputHelp" class="form-text">A catchy name for your character.</div>
          </div>
          <div class="mb-3">
            <label for="characterAgeInput" class="form-label">Age</label>
            <input class="form-control" type="number" id="characterAgeInput" aria-describedby="characterDobInputHelp"
                   formControlName="age">
            <div id="characterAgeInputHelp" class="form-text">It's just a number.</div>
          </div>
          <div class="mb-3">
            <label for="characterSpeciesInput" class="form-label">Species</label>
            <div class="input-group">
              <input class="form-control" id="characterSpeciesInput"
                     aria-describedby="characterSpeciesInputHelp"
                     formControlName="species">
              <div class="btn-group" dropdown>
                <button class="btn btn-secondary dropdown-toggle" dropdownToggle
                        aria-controls="characterSpeciesInputDefaultsMenu"
                        type="button">
                  Default&nbsp;<span class="caret"></span>
                </button>
                <ul id="characterSpeciesInputDefaultsMenu" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li class="disabled"><a class="dropdown-item disabled">
                    Select using left-click or<br/>
                    use right-click to append.
                  </a></li>
                  <li role="menuitem" *ngFor="let s of defaultSpecies">
                    <a class="dropdown-item" (click)="onUseSpecies(s)"
                       (contextmenu)="$event.preventDefault();onUseSpecies(s, true)">{{s}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="characterSpeciesInputHelp" class="form-text">Characters have a species or at least a race.</div>
          </div>
          <div class="mb-3">
            <label for="characterCombatClassInput" class="form-label">Combat Class</label>
            <div class="input-group">
              <input class="form-control" id="characterCombatClassInput"
                     aria-describedby="characterCombatClassInputHelp"
                     formControlName="combatClass">
              <div class="btn-group" dropdown>
                <button class="btn btn-secondary dropdown-toggle" dropdownToggle
                        aria-controls="characterCombatClassInputDefaultsMenu"
                        type="button">
                  Default&nbsp;<span class="caret"></span>
                </button>
                <ul id="characterCombatClassInputDefaultsMenu" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li class="disabled"><a class="dropdown-item disabled">
                    Select using left-click or<br/>
                    use right-click to append.
                  </a></li>
                  <li role="menuitem" *ngFor="let cl of defaultCombatClasses">
                    <a class="dropdown-item" (click)="onUseCombatClass(cl)"
                       (contextmenu)="$event.preventDefault();onUseCombatClass(cl, true)">{{cl}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="characterCombatClassInputHelp" class="form-text">Which combat style would this character prefer?
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3" *ngIf="store.characterIsNew$ | async | not">
            <label for="characterImageInput" class="form-label">Sheet Image</label>
            <div class="input-group">
              <input type="file" id="characterImageInput" class="form-control" accept="image/*"
                     (change)="onSetSheetImage($event)"/>
              <app-two-factor-button
                *ngIf="store.sheetImage$ | async"
                (confirmed)="onRemoveSheetImage()"
                confirmText="Yes, remove the image!" data-card-btn="">
                <i class="bi bi-trash"></i> Remove image
              </app-two-factor-button>
            </div>
          </div>
          <div class="mb-3">
            <label for="characterBioInput" class="form-label">Bio</label>
            <textarea rows="15" id="characterBioInput" class="form-control" aria-describedby="characterBioInputHelp"
                      formControlName="bio"></textarea>
            <div id="characterBioInputHelp" class="form-text">How did your character come to be?</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" formArrayName="abilities">
          <div class="d-flex justify-content-between pb-0">
            <h6>Abilities</h6>
            <div class="d-flex">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="onAddAbilityTrait()">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
          <span *ngIf="abilitiesFormArray.length === 0" class="text-muted">No abilities defined yet.</span>
          <app-card class="mt-3 shadow-sm" *ngFor="let i of abilitiesFormArray.length | arrayIndexSeq"
                    [formGroupName]="i">
            <h4 data-card-title="">Trait</h4>
            <button type="button" class="btn btn-sm btn-outline-danger" data-card-btn (click)="onRemoveAbilityTrait(i)">
              <i class="bi bi-x-lg"></i>
            </button>

            <div class="mb-3">
              <label [for]="'abilityTLabelraitInput-' + i" class="form-label">Label</label>
              <input class="form-control" [id]="'abilityTLabelraitInput-' + i"
                     [attr.aria-describedby]="'abilityTraitLabelInputHelp-' + i"
                     formControlName="label">
              <div [id]="'abilityTraitLabelInputHelp-' + i" class="form-text">A short name for this trait.</div>
            </div>
            <div class="mb-3">
              <label [for]="'abilityTraitDescriptionInput-' + i" class="form-label">Description</label>
              <textarea class="form-control" [id]="'abilityTraitDescriptionInput-' + i"
                        [attr.aria-describedby]="'abilityTraitDescriptionInputHelp-' + i"
                        formControlName="description"></textarea>
              <div [id]="'abilityTraitDescriptionInputHelp-' + i" class="form-text">Describe this trait more
                explicitly.
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-6">
                <label [for]="'abilityTraitHitDieInput-' + i" class="form-label">Hit Die</label>
                <input class="form-control" [id]="'abilityTraitHitDieInput-' + i"
                       [attr.aria-describedby]="'abilityTraitHitDieInputHelp-' + i"
                       formControlName="hitDie" type="number">
                <div [id]="'abilityTraitHitDieInputHelp-' + i" class="form-text">What die should be used to generate a
                  hit?
                </div>
              </div>
              <div class="col-sm-6">
                <label [for]="'abilityTraitBaseDamageInput-' + i" class="form-label">Base Damage</label>
                <input class="form-control" [id]="'abilityTraitBaseDamageInput-' + i"
                       [attr.aria-describedby]="'abilityTraitBaseDamageInputHelp-' + i"
                       formControlName="baseDamage" type="number">
                <div [id]="'abilityTraitBaseDamageInputHelp-' + i" class="form-text">How much damage does this ability
                  inflict without buffs or effects.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label [for]="'abilityTraitShieldBufInput-' + i" class="form-label">Shield Buff</label>
                <input class="form-control" [id]="'abilityTraitShieldBufInput-' + i"
                       [attr.aria-describedby]="'abilityTraitShieldBufInputHelp-' + i"
                       formControlName="shieldBuf" type="number">
                <div [id]="'abilityTraitShieldBufInputHelp-' + i" class="form-text">How much shield buff does this
                  ability
                  generate?
                </div>
              </div>
              <div class="col-sm-6">
                <label [for]="'abilityTraitMagicResistanceInput-' + i" class="form-label">Magic Resistance</label>
                <input class="form-control" [id]="'abilityTraitMagicResistanceInput-' + i"
                       [attr.aria-describedby]="'abilityTraitMagicResistanceInputHelp-' + i"
                       formControlName="magicResistance" type="number">
                <div [id]="'abilityTraitMagicResistanceInputHelp-' + i" class="form-text">How much magic resistance does
                  this ability have?
                </div>
              </div>
            </div>
          </app-card>
        </div>
        <div class="col-sm-6" formArrayName="personality">
          <div class="d-flex justify-content-between pb-0">
            <h6>Personality Traits</h6>
            <div class="d-flex">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="onAddPersonalityTrait()">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
          <span *ngIf="personalityFormArray.length === 0" class="text-muted">No personality traits defined yet.</span>
          <app-card class="mt-3 shadow-sm" *ngFor="let i of personalityFormArray.length | arrayIndexSeq"
                    [formGroupName]="i">
            <h4 data-card-title="">Trait</h4>
            <button type="button" class="btn btn-sm btn-outline-danger" data-card-btn
                    (click)="onRemovePersonalityTrait(i)">
              <i class="bi bi-x-lg"></i>
            </button>

            <div class="mb-3">
              <label [for]="'personalityTraitLabelInput-' + i" class="form-label">Label</label>
              <input class="form-control" [id]="'personalityTraitLabelInput-' + i"
                     [attr.aria-describedby]="'personalityTraitLabelInputHelp-' + i"
                     formControlName="label">
              <div [id]="'personalityTraitLabelInputHelp-' + i" class="form-text">A short name for this trait.</div>
            </div>
            <div>
              <label [for]="'personalityTraitDescriptionInput-' + i" class="form-label">Description</label>
              <input class="form-control" [id]="'personalityTraitDescriptionInput-' + i"
                     [attr.aria-describedby]="'personalityTraitDescriptionInputHelp-' + i"
                     formControlName="description">
              <div [id]="'personalityTraitDescriptionInputHelp-' + i" class="form-text">Describe this trait more
                explicitly.
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </app-card>
  </form>

  <ng-template #viewTpl>
    <app-card>
      <h2 class="card-title" data-card-title=""><span class="text-muted">Character: </span>{{store.name$ | async}}</h2>
      <button type="button" (click)="editorActive$.enable()"
              class="btn btn-secondary" data-card-btn>
        <i class="bi bi-pencil-fill"></i> Edit
      </button>

      <div class="row mb-3">
        <div class="col-sm-6">
          <app-card class="mb-3">
            <h4 data-card-title="">Info</h4>
            <app-read-only-field inline label="Age">{{store.age$ | async}}</app-read-only-field>
            <app-read-only-field inline label="Species">{{store.species$ | async}}</app-read-only-field>
            <app-read-only-field inline label="Combat Class">{{store.combatClass$ | async}}</app-read-only-field>
          </app-card>
          <app-card class="mb-3">
            <h4 data-card-title="">Abilities</h4>
            <span *ngIf="store.abilities$ | async | not"
                  class="text-muted">No abilities defined yet.</span>
            <ul>
              <li *ngFor="let t of store.abilities$ | async">
                <ul class="list-unstyled">
                  <li>{{t.label}}</li>
                  <li *ngIf="t.description as desc" class="text-muted white-space-pre-line mb-2">{{desc}}</li>
                  <li>
                    <app-read-only-field inline label="Hit Die">d{{t.hitDie}}</app-read-only-field>
                  </li>
                  <li [ngTemplateOutlet]="coloredStat"
                      [ngTemplateOutletContext]="{label: 'Base Damage', stat: t.baseDamage}"></li>
                  <li [ngTemplateOutlet]="coloredStat"
                      [ngTemplateOutletContext]="{label: 'Shield Buff', stat: t.shieldBuf}"></li>
                  <li [ngTemplateOutlet]="coloredStat"
                      [ngTemplateOutletContext]="{label: 'Magic Resistance', stat: t.magicResistance}"></li>
                </ul>
              </li>
            </ul>

            <ng-template #coloredStat let-label="label" let-stat="stat">
              <app-read-only-field inline [label]="label">
                <span [class.text-muted]="stat === 0" [class.text-danger]="stat < 0"
                      [class.text-success]="stat > 0">{{stat}}</span>
              </app-read-only-field>
            </ng-template>
          </app-card>
        </div>
        <div class="col-sm-6">
          <app-card *ngIf="store.sheetImageObjUrl$ | async as objUrl" class="mb-3">
            <!--suppress AngularNgOptimizedImage -->
            <img class="img-sheet-image" [src]="objUrl" alt="Sheet Image"/>
          </app-card>
          <app-card *ngIf="store.bio$ | async as bio" class="mb-3">
            <h4 data-card-title="">Bio</h4>
            <p class="white-space-pre-line">{{bio}}</p>
          </app-card>
          <app-card class="mb-3">
            <h4 data-card-title="">Personality traits</h4>
            <span *ngIf="store.personalityTraits$ | async | not"
                  class="text-muted">No personality traits defined yet.</span>
            <ul>
              <li *ngFor="let t of store.personalityTraits$ | async">
                <ul class="list-unstyled">
                  <li>{{t.label}}</li>
                  <li *ngIf="t.description as desc" class="text-muted">{{desc}}</li>
                </ul>
              </li>
            </ul>
          </app-card>
        </div>
      </div>
    </app-card>
  </ng-template>
</div>
