<div class="btn-group" dropdown [isDisabled]="!!disabled">
  <button class="btn" type="button" dropdownToggle #toggleBtn
          [id]="'twoFactorToggleBtn' | uniqueId"
          [ngClass]="btnClass">
    <ng-content></ng-content>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu"
      [id]="'twoFactorToggleBtn' | uniqueId"
      [attr.aria-labelledby]="toggleBtn.id">
    <li role="menuitem">
      <a class="dropdown-item"
         (click)="confirmed.next()">{{(confirmText || 'components.twoFactorButton.confirmText.default') | translate}}</a>
    </li>
  </ul>
</div>
