<nav class="navbar navbar-expand navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Character Sheets</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" *ngFor="let item of menuItems"
           appAriaRouterLinkCurrent
           routerLinkActive="active"
           [routerLink]="item.route">{{item.label}}</a>
      </div>
    </div>
  </div>
</nav>

<div class="page-content mt-2">
  <router-outlet></router-outlet>
</div>
