<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Stories</h1>
    <button class="add-character-btn btn btn-lg btn-primary" routerLink="../edit/new">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>

  <table class="table stories-table">
    <thead>
    <tr>
      <th scope="col" class="status-column">Status</th>
      <th scope="col" class="title-column">Title</th>
      <th scope="col" class="actions-column">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of store.stories$ | async">
      <td class="status-column" [ngClass]="[s.status]">{{s.status | titlecase}}</td>
      <td class="title-column">{{s.title}}</td>
      <td class="actions-column">
        <div class="btn-group btn-group-sm">
          <!--suppress TypeScriptUnresolvedReference -->
          <a class="btn btn-primary" [routerLink]="['../edit', s._id]">
            <i class="bi bi-door-open"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="store.stories$ | async | not">
    <tr>
      <td colspan="3" class="text-muted">No stories written yet</td>
    </tr>
    </tbody>
  </table>
</div>
