@import "src/styles/cmp-var-imports";

:host {
  .story-status {
    width: 5rem;

    &.draft {
      color: $blue-400;
    }

    &.review {
      color: $orange-400;
    }

    &.done {
      color: $green-400;
    }
  }
}
